<ol class="ludo">
    {{# attachments }}
    <li>
        <a href="{{ permalink }}">
            {{{ image }}}
            <span class="nom">{{ post_title }}</span>
        </a>
    </li>
    {{/ attachments }}
</ol>
<div class="credits">Informations fournies par <a href="http://www.twikin.fr/" alt="Twikin">
    <img src="{{ logo }}"/>
</a></div>
